<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/css/style.css" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/css/font-awesome.min.css" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/css/skel.css" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/css/style.css" />
<link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/css/style-large.css" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/css/style-medium.css" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/css/style-small.css" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/css/style-xlarge.css" />
<link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/css/style-xsmall.css" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/css/images/overlay.png" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/css/ie/backgroundsize.min.htc" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/css/ie/html5shiv.js" />
<link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/css/ie/v8.css" />

     <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/images/banner.jpg" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/images/pic01.jpg" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/images/pic02.jpg" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/images/pic03.jpg" />
<link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/images/pic04.jpg" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/images/pic05.jpg" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/images/pic06.jpg" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/images/pic07.jpg" />
<link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/images/pic08.jpg" />
 <link rel="stylesheet" type="text/css" href="http://deepthivenkat.github.io/gitpages/theme/images/pic09.jpg" />

  <script src="http://deepthivenkat.github.io/gitpages/theme/js/skel.min.js"></script>
  <script src="http://deepthivenkat.github.io/gitpages/theme/js/init.js"></script>
  <script src="http://deepthivenkat.github.io/gitpages/theme/js/jquery.min.js"></script>
  <script src="http://deepthivenkat.github.io/gitpages/theme/js/skel-layers.min.js"></script>
    <link rel="canonical" href="http://deepthivenkat.github.io/gitpages/portfolio.html" />

   

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  




</head>

<body class="landing">


			
				<header id="MainPageShadowHeader">
				<div id="nav"   class= "links_inline" >
                                        <p align="left" style="padding-left:50px;font-size: 1.3em;color:white;">Deepthi Venkitaramanan</p>

					<ul class="links_inline" style="padding-left:820px;">
						
						<li ><a href="aboutme.html" class="button special">Home</a></li>
						<li ><a href="portfolio.html" class="button special">Work</a></li>
                                               <li ><a href="travel.html" class="button special">Travel</a></li>
						<li ><a href="musings.html" class="button special">Musings</a></li>
                                               
					</ul>
				</div>
			</header>

  
<div class="container" >
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="http://deepthivenkat.github.io/gitpages/portfolio.html" rel="bookmark"
         title="Permalink to Portfolio">Portfolio</a></h2>
 
  </header>
  <footer class="post-info">
    <abbr class="published" title="2015-10-13T00:00:00+02:00">
      Tue 13 October 2015
    </abbr>
    <address class="vcard author">
      By           <a class="url fn" href="http://deepthivenkat.github.io/gitpages/author/deepthi-venkitaramanan.html">Deepthi Venkitaramanan</a>
    </address>
  </footer><!-- /.post-info -->
  <div class="entry-content">
    

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container" align="right">

					

					<!-- Text -->
						<section align="center">
							

							<header align="center">
								<h2>Developer.Data Analyst.</h2>
					<a href="https://www.dropbox.com/s/nvy51uhzn522d2k/Resume2015.pdf?dl=0" class="button special">Download Resume</a>
							</header></div>

<div class="container">
<a name="Publication"><h2 align="left">Publications</h2></a>
<a href="http://www.lulu.com/shop/kaushik-velusamy-and-deepthi-venkitaramanan-and-shriram-k-vasudevan/introduction-to-ai-an-intelligent-approach/paperback/product-21153651.html?ppn=1">AI Book</a>
<a href="http://thesai.org/Publications/ViewPaper?Volume=4&amp;Issue=11&amp;Code=IJACSA&amp;SerialNo=22">Hadoop I</a>
<a href="https://www.academia.edu/8266381/Comparison_of_Hadoop_Multiple_node_Cluster_Performance_over_Physical_and_Virtual_Nodes_Using_Inverted_Index_Data_Structure_for_Search_over_Wikipedia_Data_Set_-_INDIA-_ISSN-_0973_-_4562">Hadoop II</a>
<a href="http://docsdrive.com/pdfs/medwelljournals/jeasci/2013/304-313.pdf">Internet of Things</a>

</div><br /><br />

<div class="container">
<a name="Tech"><h2 align="left">Technical Experiments</h2></a>
<a href="#pelican">How I build this website using pelican</a><br />



</div>  
<div class="container">
<a name="Outreachy"><h2 align="left">Outreachy Experiences</h2></a>
<a href="#Outreachy101">Outreachy 101 - Initial steps made easy</a><br /><br /> </div>
					</section>
      <p>
      <a name="Outreachy101"> <h3><b>Outreachy 101 - Initial steps made easy</b></h3><br /></a>
      This article is about how to become an Outreachy participant and what people could gain by contributing to open source and my experience with Outreachy Mozilla Webcompat till date.<br />


    Outreachy is an open source internship conducted twice a year (December to March- Application deadline is in mid-October , May to August- Application deadline is in late March).The participating organizations are announced about a month before the application deadline. During this one month, the applicants need to go through the list of projects offered and find the project that suits your skill set.<br />


          If the skill set is an exact match, it is perfect. But always be ready to learn a thing or two. Then all that has to be done is:<br /><br />
          <ol>
      <li>	Become familiar with Git commands. Most open source projects use this version control system. You can download the Pro Git Book from https://git-scm.com/book/en/v2%20. You may not have time to complete the book. Try going through Chapter 1 & 2. It covers 80 % of the commands you will need most often.</li><br />
  <li>If it is a Github project go through the project’s Contributing.md file and build and run the project. (Good to do: record all the difficulties you encountered during building the project, discuss with the project members and add it to the Contributing.md file)</li><br />
<li>
    Once the build is ready, try to use the product. Find a bug or two. File the issues.
</li><br />
      <li>Go through the issue list, find a “good first bug”. Submit your patch / pull request.</li><br />
      <li>Mostly the Outreachy project page will contain the necessary initial task. If the mentioned task is to only complete the first bug, contact your mentor about the next task. Else work on the mentioned initial task and submit a pull request. Do not hesitate to contact your mentor/ other project team members in the channel’s IRC when you are stuck in this stage. Lurk on the IRC channels. Subscribe to the projects mailing list. You can find the list of all mailing list for Mozilla here :<br />
https://lists.mozilla.org/listinfo. Mozilla has a strong support base for welcoming new contributors to their products. You can simply get started by checking out this cool website: <br /> http://whatcanidoformozilla.org/<br />
</li>
      <li>Go through the project folder structure: check how the tests are written, understand how the pull request you send gets merged (Travis), try to work on ‘Good next tasks’</li><br />
      <li>Final but the most important one: ‘Submit your outreachy application’. Even after submitting your application, keep contributing to the projects. You can contribute to multiple projects. In case there are multiple applicants for a project, the project mentor will contact you and point to some other project for which you might be a suitable fit.</li>
<br />
  </ol><br />
      Now to the cool part. The perks:<br /><br />
      <ol>
          <li>I got the chance to participate in Mozilla London all hands. I am going to receive the laptop(Travel and stay is taken care of. You get to meet the mentor, team members, other upcoming product/technology events relevant to Mozilla)</li><br />
           <li>I can get my code reviewed, corrected, suggestions about the best practices. There is a lot of learning.</li><br />
           <li>In addition to the 5500$ stipend, there is a travel allowance of 500$. This can be utilized to attend any conference of your choice and share your experiences. This fund is available a year after the internship end date.</li><br />
           <li>You have a mentor who can spend their time to guide you whenever you are stuck. My mentor was very cool. I get the quickest response possible in IRC for all my queries. This may not be the same for all projects. Mentors can be quite busy. In case you are not comfortable, try contributing to the projects that you feel you fit into the culture of the project. Most Outreachy projects are very welcoming to freshers.</li><br />
           <li>You get to pick the task you are most interested in. There is no compulsion that the tasks listed in the project page is all you have to do. Little efforts to improve project in subtle ways is also greatly appreciated.</li><br />
           <li>You get to create a Mozillian’s profile and you are vouched for your work. Being vouched means you get access to special content that Mozilla shares only with the community.</li><br />
      </ol><br />
      Experience with Webcompat, Mozilla: <br /><br />
      Webcompat is a platform to get the compatibility issues resolved from all over the internet. Quoting from the Wiki:<br /><br />
<i>Webcompat.com allows individuals to easily report site compatibility issues - and to allow us to better understand the larger picture of compatibility issues affecting Firefox users on the web.<br />
Web compatibility is about making sure web sites work consistently across all browsers and devices. Sometimes, sites have bugs or policies that prevent them from working well in every browser. When Firefox is missing crucial standards features that sites rely on, webcompat communicate this back to the Gecko Platform. <br /> </i><br />
What I really liked about the team was they were a close knit community and were extremely supportive during my initial tasks. My initial task included few ‘good first bugs’ and refactoring the error codes in this flask application.
<br />Currently I have documented the issues specific to my environment that I encountered while building the flask application. In addition, I am also working on Intern for writing functional tests. More about my work in webcompat in the next blog article. Happy Coding! <br /> <br /> <br />




      </p>


      <p>
<a name="pelican"> <h3><b>How I built this website using pelican</b></h3><br /></a>
I thought of documenting the entire process starting from pelican installation. But there are a lot of documents available in the internet already. I found the following pages pretty resourceful:<br />
<ul>
<li><a href="http://goo.gl/TwftdG">Blog</a></li>
<li><a href="http://goo.gl/VgClas">Pelican Documentation</a></li></ul>
Instead I decided to document few issues I encountered while setting up the website.<br /></p>
<p><ul>	<li type="I"><blockquote>Custom Themes made simple: </blockquote>I did not like any of the themes available. Most of the themes seemed to add Meta data such as date and author for every article I posted. So I wanted to use a custom theme. You can find a lot of custom themes in http://templated.co/ . I chose transit template. Once I chose the template, my job came down to adding the three html pages elements.html, generic.html and index.html inside the contents folder of html.<br /></p>
                   <p>   You can find the theme folder inside the pelican project. The theme folder consisted of two folders: static & template. The static folder consists of font, css , images and js folders. I created a new theme folder called my-basic inside the theme folder. Inside my-basic, I created 2 folders – static & template. Inside the static folder I put the font, css , images and js folders I downloaded from transit template. Inside the template folder, I added base.html – this page is like a holder for all the html pages we add into the content.</p><br />
Inside the template folder I also created a folder called include – where I added two files namely header.html & footer.html.<br />
The following are the code changes inside base.html, header.html, footer.html:
<h4>Base.html</h4>
							<pre><code>

{% block head %}</code></pre><br />
The above code must be added inside the head tag.The following code must be added to body.
<pre><code>
 {% include "include/header.html" %}
 {% block content %}{% endblock %}
 {% include "include/footer.html" %}</code></pre><br />

Now I need to set this theme as my pelican theme. The following are commands for the same:<br />
 
       <pre><code> pelican-themes --install ~/Dev/Pelican-project-folder/pelican-themes/my-basic –verbose</code></pre><br />

 You can check if the theme is installed using the command:<br />
<pre><code>pelican-themes –l</code></pre>
Now we need to change the theme settings in pelicanconf.py. <br />
<pre><code>THEME = '/home/username/dev/Pelican-project-folder/pelican-themes/my-basic/'</pre></code>
           Now run make html and reload the siteurl and voila! <br /><br />
</li>
<li type="I"><h4>	<blockquote>How to set a static html page as my default home page in pelican?</blockquote></h4><br />

<p>The next problem I countered was making a static html page my home page. If we notice the output folder, we can see that pelican auto generates the index.html page.
Another important observation is that in the output folder, the name of the files generated are based on the title of the html pages in the content folder.</p><br />

In the pelicanconf.py add the following command: <br />

<pre><code>INDEX_SAVE_AS = 'venkid_index.html' 
DELETE_OUTPUT_DIRECTORY = True</code></pre>

Index_save_as saves the auto generated index.html to a different given(in this case venkid_index.html) name in the output folder. Now change the title of whatever html page that you want to be stored as home page to index.<br />

As usual, run make html and reload the siteurl and voila!<br /><br /></li>
<li type="I"><blockquote> After executing the make html command and if you try to display your web page, you can encounter the issue “Forbidden You don't have permission to access / on this server.  <br /></blockquote>

This is because apache doesn’t has access to the output folder. To solve this, follow the below steps:<br />
<ul>
<li type="1">Navigate to your apache config file (.conf) usually in the path  /etc/apache2/. </li>
<li type="1">2)	Open the config file (.conf file) and look for the part <br />
<pre><code><directory>
…
..
</directory></code></pre>
</li>
<li type="1">Paste the below code<br />
<pre><code>
<directory home path_to_output_folder.. output>
                Options FollowSymLinks
                AllowOverride None
                Require all granted
</directory>

</code></pre>
</li>
<li type="1">	Restart the apache server - sudo service apache2 restart</li>
</ul>

</li></ul>

Feel free to clone the project from: https://github.com/deepthivenkat/pelican--website.git<br />

Happy personal website building guys!<br />



</li>



</p>
</div></section>

					

							
										
  </div><!-- /.entry-content -->
</section>
  </div>
  



		<!-- Footer -->
			<footer id="footer" class="footer">
				<div class="container">
					<div class="row">
<div class="8u 12u$(medium)" align="right">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook" href="https://www.facebook.com/deepthivenkitaramanan"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter" href="https://twitter.com/deepthivenkit"><span class="label">Twitter</span></a>
								</li>
								
								<li>
									<a class="icon rounded fa-linkedin" href="https://in.linkedin.com/pub/deepthi-venkitaramanan/77/446/a34"><span class="label">LinkedIn</span></a>
								</li>
                                                                 <li>
									<a class="icon rounded fa-github" href="https://github.com/deepthivenkat"><span class="label">GitHub</span></a>
								</li>
                                                                <li>
									<a class="icon rounded fa-google-plus" href="https://plus.google.com/u/0/105106792967769737749"><span class="label">Google+</span></a>
								</li>
							</ul>
						</div>
						
                                           
						<div class="8u 12u$(medium)">
							<ul class="copyright" >
								
								<li>Pages: <a href="http://docs.getpelican.com/en/3.6.3/">PELICAN</a></li>
								
							</ul>
						</div>

						
					</div>
				</div>




<div class="container" display="inline">
   
<p class="align-right" display="inline">
      Deepthi Venkitaramanan
    </p>
 
  </div>
			</footer>

  
</body> <!-- 42 -->

</html>