<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="http://deepthivenkat.github.io/gitpages/theme/css/style.css"
    rel="stylesheet" type="text/css">
    <link href=
    "http://deepthivenkat.github.io/gitpages/theme/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://deepthivenkat.github.io/gitpages/theme/css/skel.css"
    rel="stylesheet" type="text/css">
    <link href="http://deepthivenkat.github.io/gitpages/theme/css/style.css"
    rel="stylesheet" type="text/css">
    <link href=
    "http://deepthivenkat.github.io/gitpages/theme/css/style-large.css" rel=
    "stylesheet" type="text/css">
    <link href=
    "http://deepthivenkat.github.io/gitpages/theme/css/style-medium.css" rel=
    "stylesheet" type="text/css">
    <link href=
    "http://deepthivenkat.github.io/gitpages/theme/css/style-small.css" rel=
    "stylesheet" type="text/css">
    <link href=
    "http://deepthivenkat.github.io/gitpages/theme/css/style-xlarge.css" rel=
    "stylesheet" type="text/css">
    <link href=
    "http://deepthivenkat.github.io/gitpages/theme/css/style-xsmall.css" rel=
    "stylesheet" type="text/css">
    <link href=
    "http://deepthivenkat.github.io/gitpages/theme/css/images/overlay.png" rel=
    "stylesheet" type="text/css">
    <link href=
    "http://deepthivenkat.github.io/gitpages/theme/css/ie/backgroundsize.min.htc"
    rel="stylesheet" type="text/css">
    <link href=
    "http://deepthivenkat.github.io/gitpages/theme/css/ie/html5shiv.js" rel=
    "stylesheet" type="text/css">
    <link href="http://deepthivenkat.github.io/gitpages/theme/css/ie/v8.css"
    rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel=
    'stylesheet' type='text/css'>
    <link href=
    "http://deepthivenkat.github.io/gitpages/theme/images/banner.jpg" rel=
    "stylesheet" type="text/css">
    <link href="http://deepthivenkat.github.io/gitpages/theme/images/pic01.jpg"
    rel="stylesheet" type="text/css">
    <link href="http://deepthivenkat.github.io/gitpages/theme/images/pic02.jpg"
    rel="stylesheet" type="text/css">
    <link href="http://deepthivenkat.github.io/gitpages/theme/images/pic03.jpg"
    rel="stylesheet" type="text/css">
    <link href="http://deepthivenkat.github.io/gitpages/theme/images/pic04.jpg"
    rel="stylesheet" type="text/css">
    <link href="http://deepthivenkat.github.io/gitpages/theme/images/pic05.jpg"
    rel="stylesheet" type="text/css">
    <link href="http://deepthivenkat.github.io/gitpages/theme/images/pic06.jpg"
    rel="stylesheet" type="text/css">
    <link href="http://deepthivenkat.github.io/gitpages/theme/images/pic07.jpg"
    rel="stylesheet" type="text/css">
    <link href="http://deepthivenkat.github.io/gitpages/theme/images/pic08.jpg"
    rel="stylesheet" type="text/css">
    <link href="http://deepthivenkat.github.io/gitpages/theme/images/pic09.jpg"
    rel="stylesheet" type="text/css">
    <script src="http://deepthivenkat.github.io/gitpages/theme/js/skel.min.js">
    </script>
    <script src="http://deepthivenkat.github.io/gitpages/theme/js/init.js">
    </script>
    <script src=
    "http://deepthivenkat.github.io/gitpages/theme/js/jquery.min.js">
    </script>
    <script src=
    "http://deepthivenkat.github.io/gitpages/theme/js/skel-layers.min.js">
    </script>
    <link href="http://deepthivenkat.github.io/gitpages/portfolio.html" rel=
    "canonical"><!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    body{font-family: 'Ubuntu', sans-serif;font-size:113%;}
    </style>

    <title>DeepthiVenkitaramanan</title>
</head>

<body class="landing">
    <header id="MainPageShadowHeader">
        <div class="links_inline" id="nav">
            <p align="left" style="padding-left:60px;color:white;">Deepthi
            Venkitaramanan</p>


            <ul class="links_inline">
                <li>
                    <a class="button special" href="aboutme.html">Home</a>
                </li>
                <li>
                    <a class="button special" href="portfolio.html">Work</a>
                </li>
                <li>
                    <a class="button special" href="travel.html">Travel</a>
                </li>
                <li>
                    <a class="button special" href="musings.html">Musings</a>
                </li>
            </ul>
        </div>
    </header>


    <div class="container">
        <section class="body" id="content">
            <header>
                <h2 class="entry-title"><a href=
                "http://deepthivenkat.github.io/gitpages/portfolio.html" rel=
                "bookmark" title="Permalink to Portfolio">Portfolio</a>
                </h2>
            </header>
            <footer class="post-info">
                <abbr class="published" title="2015-10-13T00:00:00+02:00">Tue
                13 October 2015</abbr>

                <address class="vcard author">
                    By <a class="url fn" href=
                    "http://deepthivenkat.github.io/gitpages/author/deepthi-venkitaramanan.html">
                    Deepthi Venkitaramanan</a>
                </address>
            </footer>
            <!-- /.post-info -->


            <div class="entry-content">
                <!-- Main -->


                <section class="wrapper" id="main">
                    <div align="right" class="container">
                        <!-- Text -->
                        <section>
                            <header>
                                <h2>Developer.Data Analyst.</h2>
                                <a class="button special" href=
                                "https://www.dropbox.com/s/wn5epep3uau5p6e/Resume2015.pdf?dl=0">Download
                                Resume</a>
                            </header>
                        </section>
                    </div>


                    <div class="container">
                        <a id="Publication" name="Publication">
                        <h2 align="left">Publications</h2></a> <a href=
                        "http://www.lulu.com/shop/kaushik-velusamy-and-deepthi-venkitaramanan-and-shriram-k-vasudevan/introduction-to-ai-an-intelligent-approach/paperback/product-21153651.html?ppn=1">
                        AI Book</a> <a href=
                        "http://thesai.org/Publications/ViewPaper?Volume=4&amp;Issue=11&amp;Code=IJACSA&amp;SerialNo=22">
                        Hadoop I</a> <a href=
                        "https://www.academia.edu/8266381/Comparison_of_Hadoop_Multiple_node_Cluster_Performance_over_Physical_and_Virtual_Nodes_Using_Inverted_Index_Data_Structure_for_Search_over_Wikipedia_Data_Set_-_INDIA-_ISSN-_0973_-_4562">
                        Hadoop II</a> <a href=
                        "http://docsdrive.com/pdfs/medwelljournals/jeasci/2013/304-313.pdf">
                        Internet of Things</a>
                    </div>
                    <br>
                    <br>


                    <div class="container">
                        <a id="Tech" name="Tech">
                        <h2 align="left">Technical Experiments</h2></a>
                        <a href="#pelican">How I build this website using
                        pelican</a><br>
                        <a href="#gan">Experiments with Generative Adversarial Networks using keras</a><br>
                        <br>
                    </div>


                    <div class="container">
                        <a id="Outreachy" name="Outreachy">
                        <h2 align="left">Outreachy Experiences</h2></a>
                        <a href="#Outreachy101">Outreachy 101 - Initial steps
                        made easy</a><br>
                        <br>
                    </div>
                </section>


                <p><a id="Outreachy101" name="Outreachy101">
                <h3><b>Outreachy 101 - Initial steps made easy</b>
                </h3>
                <br></a> This article is about how to become an Outreachy
                participant and what people could gain by contributing to open
                source and my experience with Outreachy Mozilla Webcompat till
                date.<br>
                Outreachy is an open source internship conducted twice a year
                (December to March- Application deadline is in mid-October ,
                May to August- Application deadline is in late March).The
                participating organizations are announced about a month before
                the application deadline. During this one month, the applicants
                need to go through the list of projects offered and find the
                project that suits your skill set.<br>
                If the skill set is an exact match, it is perfect. But always
                be ready to learn a thing or two. Then all that has to be done
                is:<br>
                <br></p>


                <ol>
                    <li>Become familiar with Git commands. Most open source
                    projects use this version control system. You can download
                    the Pro Git Book from https://git-scm.com/book/en/v2%20.
                    You may not have time to complete the book. Try going
                    through Chapter 1 & 2. It covers 80 % of the commands you
                    will need most often.<br></li>

                    <li>If it is a Github project go through the project’s
                    Contributing.md file and build and run the project. (Good
                    to do: record all the difficulties you encountered during
                    building the project, discuss with the project members and
                    add it to the Contributing.md file)<br></li>

                    <li>Once the build is ready, try to use the product. Find a
                    bug or two. File the issues.<br></li>

                    <li>Go through the issue list, find a “good first bug”.
                    Submit your patch / pull request.<br></li>

                    <li>Mostly the Outreachy project page will contain the
                    necessary initial task. If the mentioned task is to only
                    complete the first bug, contact your mentor about the next
                    task. Else work on the mentioned initial task and submit a
                    pull request. Do not hesitate to contact your mentor/ other
                    project team members in the channel’s IRC when you are
                    stuck in this stage. Lurk on the IRC channels. Subscribe to
                    the projects mailing list. You can find the list of all
                    mailing list for Mozilla here :<br>
                    https://lists.mozilla.org/listinfo. Mozilla has a strong
                    support base for welcoming new contributors to their
                    products. You can simply get started by checking out this
                    cool website:<br>
                    http://whatcanidoformozilla.org/<br></li>

                    <li>Go through the project folder structure: check how the
                    tests are written, understand how the pull request you send
                    gets merged (Travis), try to work on ‘Good next
                    tasks’<br></li>

                    <li>Final but the most important one: ‘Submit your
                    outreachy application’. Even after submitting your
                    application, keep contributing to the projects. You can
                    contribute to multiple projects. In case there are multiple
                    applicants for a project, the project mentor will contact
                    you and point to some other project for which you might be
                    a suitable fit.<br></li>
                </ol>
                <br>
                Now to the cool part. The perks:<br>
                <br>

                <ol>
                    <li>I got the chance to participate in Mozilla London all
                    hands. I am going to receive the laptop(Travel and stay is
                    taken care of. You get to meet the mentor, team members,
                    other upcoming product/technology events relevant to
                    Mozilla)<br></li>

                    <li>I can get my code reviewed, corrected, suggestions
                    about the best practices. There is a lot of
                    learning.<br></li>

                    <li>In addition to the 5500$ stipend, there is a travel
                    allowance of 500$. This can be utilized to attend any
                    conference of your choice and share your experiences. This
                    fund is available a year after the internship end
                    date.<br></li>

                    <li>You have a mentor who can spend their time to guide you
                    whenever you are stuck. My mentor was very cool. I get the
                    quickest response possible in IRC for all my queries. This
                    may not be the same for all projects. Mentors can be quite
                    busy. In case you are not comfortable, try contributing to
                    the projects that you feel you fit into the culture of the
                    project. Most Outreachy projects are very welcoming to
                    freshers.<br></li>

                    <li>You get to pick the task you are most interested in.
                    There is no compulsion that the tasks listed in the project
                    page is all you have to do. Little efforts to improve
                    project in subtle ways is also greatly
                    appreciated.<br></li>

                    <li>You get to create a Mozillian’s profile and you are
                    vouched for your work. Being vouched means you get access
                    to special content that Mozilla shares only with the
                    community.<br></li>
                </ol>
                <br>
                Experience with Webcompat, Mozilla:<br>
                <br>
                Webcompat is a platform to get the compatibility issues
                resolved from all over the internet. Quoting from the Wiki:<br>
                <br>
                <i>Webcompat.com allows individuals to easily report site
                compatibility issues - and to allow us to better understand the
                larger picture of compatibility issues affecting Firefox users
                on the web.<br>
                Web compatibility is about making sure web sites work
                consistently across all browsers and devices. Sometimes, sites
                have bugs or policies that prevent them from working well in
                every browser. When Firefox is missing crucial standards
                features that sites rely on, webcompat communicate this back to
                the Gecko Platform.<br></i><br>
                What I really liked about the team was they were a close knit
                community and were extremely supportive during my initial
                tasks. My initial task included few ‘good first bugs’ and
                refactoring the error codes in this flask application.<br>
                Currently I have documented the issues specific to my
                environment that I encountered while building the flask
                application. In addition, I am also working on Intern for
                writing functional tests. More about my work in webcompat in
                the next blog article. Happy Coding!<br>
                <br>
                <br>

                <p><a id="pelican" name="pelican">
                <h3><b>How I built this website using pelican</b>
                </h3>
                <br></a> I thought of documenting the entire process starting
                from pelican installation. But there are a lot of documents
                available in the internet already. I found the following pages
                pretty resourceful:<br></p>

                <ul>
                    <li>
                        <a href="http://goo.gl/TwftdG">Blog</a>
                    </li>
                    <li>
                        <a href="http://goo.gl/VgClas">Pelican
                        Documentation</a>
                    </li>
                </ul>
                Instead I decided to document few issues I encountered while
                setting up the website.<br>

                <ul>
                    <li type="I">
                        <blockquote>
                            Custom Themes made simple:
                        </blockquote>
                        I did not like any of the themes available. Most of the
                        themes seemed to add Meta data such as date and author
                        for every article I posted. So I wanted to use a custom
                        theme. You can find a lot of custom themes in
                        http://templated.co/ . I chose transit template. Once I
                        chose the template, my job came down to adding the
                        three html pages elements.html, generic.html and
                        index.html inside the contents folder of html.<br>
                        <p></p>

                        <p>You can find the theme folder inside the pelican
                        project. The theme folder consisted of two folders:
                        static & template. The static folder consists of font,
                        css , images and js folders. I created a new theme
                        folder called my-basic inside the theme folder. Inside
                        my-basic, I created 2 folders – static & template.
                        Inside the static folder I put the font, css , images
                        and js folders I downloaded from transit template.
                        Inside the template folder, I added base.html – this
                        page is like a holder for all the html pages we add
                        into the content.</p>
                        <br>
                        Inside the template folder I also created a folder
                        called include – where I added two files namely
                        header.html & footer.html.<br>
                        The following are the code changes inside base.html,
                        header.html, footer.html:

                        <h4>Base.html</h4>

                        <pre><code>

{% block head %}</code></pre><br>
                        The above code must be added inside the head tag.The
                        following code must be added to body.

                        <pre><code>
 {% include "include/header.html" %}
 {% block content %}{% endblock %}
 {% include "include/footer.html" %}</code></pre><br>
                        Now I need to set this theme as my pelican theme. The
                        following are commands for the same:<br>

                        <pre>
                        <code> pelican-themes --install ~/Dev/Pelican-project-folder/pelican-themes/my-basic –verbose</code></pre><br>

                        You can check if the theme is installed using the
                        command:<br>

                        <pre><code>pelican-themes –l</code></pre>Now we need to
                        change the theme settings in pelicanconf.py.<br>

                        <pre>
                        <code>THEME = '/home/username/dev/Pelican-project-folder/pelican-themes/my-basic/'</code></pre>Now
                        run make html and reload the siteurl and voila!<br>
                        <br>
                    </li>
                    <li type="I">
                        <h4>
                        </h4>


                        <blockquote>
                            How to set a static html page as my default home
                            page in pelican?
                        </blockquote>
                        <br>


                        <p>The next problem I countered was making a static
                        html page my home page. If we notice the output folder,
                        we can see that pelican auto generates the index.html
                        page. Another important observation is that in the
                        output folder, the name of the files generated are
                        based on the title of the html pages in the content
                        folder.</p>
                        <br>
                        In the pelicanconf.py add the following command:<br>

                        <pre><code>INDEX_SAVE_AS = 'venkid_index.html'
DELETE_OUTPUT_DIRECTORY = True</code></pre>Index_save_as saves the auto
generated index.html to a different given(in this case venkid_index.html) name
in the output folder. Now change the title of whatever html page that you want
to be stored as home page to index.<br>
                        As usual, run make html and reload the siteurl and
                        voila!<br>
                        <br>
                    </li>

                    <li type="I">
                        <blockquote>
                            After executing the make html command and if you
                            try to display your web page, you can encounter the
                            issue “Forbidden You don't have permission to
                            access / on this server.<br>
                        </blockquote>
                        This is because apache doesn’t has access to the output
                        folder. To solve this, follow the below steps:<br>

                        <ul>
                            <li type="1">Navigate to your apache config file
                            (.conf) usually in the path /etc/apache2/.</li>

                            <li type="1">2) Open the config file (.conf file)
                            and look for the part<br>

                                <pre><code>
…
..
</code></pre>
                            </li>

                            <li type="1">Paste the below code<br>

                                <pre><code>

                Options FollowSymLinks
                AllowOverride None
                Require all granted


</code></pre>
                            </li>

                            <li type="1">Restart the apache server - sudo
                            service apache2 restart</li>
                        </ul>
                    </li>
                </ul>
                Feel free to clone the project from:
                https://github.com/deepthivenkat/deepthivenkat.github.io.git<br>
                Happy personal website building guys!<br>
                <p></p>
<br>
                <br>

<p><a id="gan" name="gan">
                <h3><b>Experiments with Generative Adversarial Networks using keras</b>
                </h3></a>
    <h4><b>Why GANs:</b>
                </h4>
      <p>The Generative models study the probability density distribution of the original data set and try to mimic data with the same function. 
Some cool applications of GAN:
</p>
    
        <ol>
                    <li>Training GAN with image frame from a video could help in predicting the next few frames – since it is a time series data, it is like predicting future!
<br></li>

                    <li>Mixing features from a set of images to produce new sets that never existed – to create scenic landscapes that never exists from the most beautiful landscapes of the world, new puppy breeds that do not exist – we are going to see the puppies example in our blog.
<br></li>

                    <li>In addition to the 5500$ stipend, there is a travel
                    allowance of 500$. This can be utilized to attend any
                    conference of your choice and share your experiences. This
                    fund is available a year after the internship end
                    date.<br></li>

                    <li>To regenerate missing portions of the data – damaged pictures, Missing lines in a book/article, missing DNA sequences. The greatest advantage of this is the output is not restricted to a single possible outcome. There are a series of multimodal outputs that can be obtained with associated probabilities. This leads us to produce a different imaginative sequence like auto creating animations, artwork, stories etc.
<br></li>

                    <li>1)	To provide ideas to design their products in the future or to visualize how the product could evolve – these can be produced in parallel and are not dependent on the dimensions of the input.
<br></li>

                </ol>
    <br/>
    <br/>
    
    <h4><b>How do they work?
</b>
                </h4>
    <p>The generative adversarial networks have two models – 
</p>
     <ol>
                    <li>A Discriminator model that takes and input and determines if the input belongs to the original dataset or not  
<br></li>

                    <li>Generator model trains on making the data that is indistinguishable by the discriminator.
<br></li>
                </ol>
    
     <a class="image fit" href="#"><img alt="" src=
                                "http://deepthivenkat.github.io/gitpages/Images/architecture.png">
                                </a>
    <p>The specialty of GANs are the data need not be labeled. The model can regenerate missing/blurry portions of the data and train on them.
</p>
    <p>A generative model that takes the loss and optimization function from the discriminator as input and try to improvise on the data it produces. In general, both the discriminator and generator are updated after each iteration to make better decisions. However, when both discriminator and generator are multi-layer perceptron, no explicit feedback is necessary since both the models are trained using back propagation and dropout algorithms.
</p>
<p>The Discriminator and Generator play a two-player minimax gaming model in the following way using multi-layer perceptron as generator and discriminator model (adversarial networks):
</p>
     <ul>
                    <li>If θg and θd represent the parameters that are being passed to the multilayer perceptron used for generator and discriminator respectively.

<br></li>

                    <li>The Generator function is defined by G(z θg) is a differentiable function where z is a random noise variable.

<br></li>
         <li>The Discriminator function is defined by D(x θd) where D(x) is the probability of x belonging to the input data.


<br></li>
         <li>If the input to the discriminator function is defined by x- where x could be from the data set or the generator.

<br></li>
         
                </ul>
    <p>In the minimax two player game, the goal of the generator is to make the discriminator output true for the data generated by it. In order, to make the discriminator output true for its data belonging to the input set, it needs to maximize D(G(z)) and therefore minimize log(1-D(G(z))).
</p>
    <p>The goal of the discriminator is to learn to be accurate it its prediction – whether the data belongs to input or to the generators. It tries to improve accuracy of D(x) prediction.
</p>
    <p>D tries to make D(G(z)) near 0, G tries to make D(G(z)) near 1. For example, the generator and discriminator control each other’s loss functions. If the generator's loss is less than the discriminator's loss, then it means that the generator is doing better than the discriminator -- it is generating images that are fooling the discriminator. 
</p>
    <p>Here the key is to find the equilibrium point where both learn equally. If one is trained more than the other the model may not function well.
</p>
    
      <h4><b>Challenges in designing generator density function
</b>
                </h4>
    <p>The generator model should be able to capture the complexity of the data through the maximum likelihood estimate. 


The loss function of the generative model should be able to control the changes happening to them after each iteration based on the loss function.
</p>
    <h4><b>Parameter tuning for better fake images:

</b>
                </h4>
     <ol>
                    <li>Minibatch discrimination is feeding the discriminators with a batch of samples rather than individual samples. This will help the discriminator to distribute the focus on all samples evenly. However, minibatch can further be optimized to contain mixed samples of images from both the original data and generator. This will help in improving the accuracy of prediction for discriminator in the long run.
<br></li>

                    <li>Normalization of data in between -1 to +1 and random sampling of data using Gaussian distribution instead of uniform sampling.

<br></li>
          <li>Using ADAM optimizer for generators helps in obtaining better images over other optimizers.


<br></li>
          <li>DCGAN works best for most image generation. Here is the output for the puppy’s data set that makes use of DCGAN. The first image is a result from another blog that made use of RGB values of puppies’ image set. In our blog, we will be making use of grey scale puppies image dataset. The results are seen in the second image. The code can be found here on Github: https://github.com/deepthivenkat/DCGAN. The results are better compared to other composite generative adversarial models.



<br></li>
                </ol> 
    
          <h4><b>Image outputs from the generative model of DCGAN: RGB

</b>
                </h4>
    
     <a class="image fit" href="#"><img alt="" src=
                                "http://deepthivenkat.github.io/gitpages/Images/color.png">
                                </a>
     <h4><b>Image outputs from the generative model of DCGAN: GREYSCALE LOW RESOLUTION IMAGES


</b> </h4>
         <a class="image fit" href="#"><img alt="" src=
                                "http://deepthivenkat.github.io/gitpages/Images/low_resolution.png">
                                </a>
    <p>In this blog, we are going to look at two different GAN models. First let us look at the GANs built on a sample 1 D normal distribution and how the generator model tries to fit with the discriminator model after every iteration. Later we will discuss how the deep convolution generative adversarial model works on puppy MNIST dataset, the results and for puppy grey scale dataset.
</p>
    <p>Let us look at the generator and iterator function. Here the z(noise/generator) function is m batch random draw from -5 to 5 whereas the input data was m batch draw from 1 dimentional normal distribution:
</p>
    

                        <pre>
                        <code>mu,sigma=-1,1
</code>
<code>xs=np.linspace(-5,5,1000)
</code>
<code>x= np.random.normal(mu,sigma,M)
</code>
<code>z= np.linspace(-5.0,5.0,M)+np.random.random(M)*0.01
</code>
</pre><br>    
    
    <p>where M is the number of items for batch normalization.
</p>
    
             <a class="image fit" href="#"><img alt="" src=
                                "http://deepthivenkat.github.io/gitpages/Images/model.png">
                                </a>
    <p>The normal transformation function makes use of tanh activations. The base learning rate for SGD optimizer was 0.001. The same optimizer function was used for both the generator and discriminator networks.
</p>
    <p>The following are the data function and the generator function before training the generator begins:
</p>
    <a class="image fit" href="#"><img alt="" src=
                                "http://deepthivenkat.github.io/gitpages/Images/model.png">
                                </a>
    <a class="image fit" href="#"><img alt="" src=
                                "http://deepthivenkat.github.io/gitpages/Images/initial_training.png">
                                </a>
    <p>However, at the end of ten thousand iterations, the shape of the generator function changes to fit per the input function as seen in:
</p>
     <a class="image fit" href="#"><img alt="" src=
                                "http://deepthivenkat.github.io/gitpages/Images/final_training.png">
                                </a>
    
    <h4><b>Hyper parameter optimizations

</b>
                </h4>
    <p>To quicken convergence, the minibatch data from both the input and the generator was sorted before it was being fed into the discriminator.Now let us look at the DCGAN model we are using for MNIST dataset. 

</p>
    <h4><b>Generator Model Summary


</b>
                </h4>
    <a class="image fit" href="#"><img alt="" src=
                                "http://deepthivenkat.github.io/gitpages/Images/gen.png">
                                </a>
     <h4><b>Discriminator Model Summary


</b>
                </h4>
    
    <a class="image fit" href="#"><img alt="" src=
                                "http://deepthivenkat.github.io/gitpages/Images/discriminator.png">
                                </a>
    <h4><b>Hyper parameter optimizations

</b>
                </h4>
    
     <ol>
                    <li>The DCGAN discriminator model performed better when the activation point was changed to Leakyrelu instead of relu. 

<br></li>

                    <li>Adam was used as a parameter for the optimizer.


<br></li>
          <li>The loss function categorical cross entropy was used for all the models – GAN, Discriminator and Generator.



<br></li>
          <li>All the images input data and the noise data from the generator were normalized before being fed into the discriminator model.




<br></li>
                </ol> 
    
    <p>The plot of discriminator and generator model losses with each iteration is as follows:
</p>
    <a class="image fit" href="#"><img alt="" src=
                                "http://deepthivenkat.github.io/gitpages/Images/loss_mnist.png">
                                </a>
    <p>Some of the generated MNIST images from the generator model after the training is done:
</p>
     <a class="image fit" href="#"><img alt="" src=
                                "http://deepthivenkat.github.io/gitpages/Images/generated_mnist.png">
                                </a>
    
    <p>MNIST datasets are flat numbers on a 2D plane. Now let us try a slightly more complex example with the same model. The generator and the discriminator model losses plot for 100 epochs and for a batch of 256 image sets are:
</p>
    
     <a class="image fit" href="#"><img alt="" src=
                                "http://deepthivenkat.github.io/gitpages/Images/loss_puppies.png">
                                </a>
    <p>The generated puppy images for low resolution (28*28*1) grey scaled puppy images were:
</p>
    
     <a class="image fit" href="#"><img alt="" src=
                                "http://deepthivenkat.github.io/gitpages/Images/generated_puppies.png">
                                </a>
     <h4><b>Future Work


</b>
                </h4>
    <p>The greatest advantage of GAN is the model can handle higher resolution multidimensional image densities and can generate high resolution images. 

When high dimension of input data could be maintained for Eg : (4096*4096*3) and can be fed into the model, the generated images could also be of high resolution. 

The number of training epochs for the generator and discriminator and the GAN model can also be increased. 
</p>
                                </a>
     <h4><b>Conclusion


</b>
                </h4>
                <p>Deep convolution networks perform much better over simple composite generative models like tanh.
Batch Normalization helps in discriminator focus on the normalized structures of the input data instead of specific examples.
</p>
                
            <h4><b>References


</b>
                </h4>     
    
     <ol>
                    <li>https://arxiv.org/pdf/1406.2661.pdf


<br></li>

                    <li>https://arxiv.org/pdf/1701.00160.pdf



<br></li>
          <li>http://blog.evjang.com/2016/06/generative-adversarial-nets-in.html




<br></li>
          <li>http://www.iangoodfellow.com/slides/2016-12-04-NIPS.pdf





<br></li>
           <li>https://github.com/soumith/ganhacks






<br></li>
           <li>https://github.com/goodfeli/adversarial






<br></li>
           <li>http://blog.aylien.com/introduction-generative-adversarial-networks-code-tensorflow/






<br></li>
           <li>http://www.iangoodfellow.com/slides/2016-12-04-NIPS.pdf





<br></li>
           <li>https://arxiv.org/pdf/1606.03498.pdf






<br></li>
           <li>https://arxiv.org/pdf/1511.06434v2.pdf






<br></li>
                </ol> 
            </div>
        </section>
    </div>

                
   

    <!-- /.entry-content -->
    <!-- Footer -->


    <footer class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div align="right" class="8u 12u$(medium)">
                    <ul class="icons">
                        <li>
                            <a class="icon rounded fa-facebook" href=
                            "https://www.facebook.com/deepthivenkitaramanan"><span class="label">
                            Facebook</span></a>
                        </li>
                        <li>
                            <a class="icon rounded fa-twitter" href=
                            "https://twitter.com/deepthivenkit"><span class=
                            "label">Twitter</span></a>
                        </li>
                        <li>
                            <a class="icon rounded fa-linkedin" href=
                            "https://in.linkedin.com/pub/deepthi-venkitaramanan/77/446/a34">
                            <span class="label">LinkedIn</span></a>
                        </li>
                        <li>
                            <a class="icon rounded fa-github" href=
                            "https://github.com/deepthivenkat"><span class=
                            "label">GitHub</span></a>
                        </li>
                        <li>
                            <a class="icon rounded fa-google-plus" href=
                            "https://plus.google.com/u/0/105106792967769737749">
                            <span class="label">Google+</span></a>
                        </li>
                        <li>
                            <a class="icon rounded fa-rss-square" href=
                            "http://deepthivenkat.github.io/feed"><span class=
                            "label">RssFeed</span></a>
                        </li>
                    </ul>
                </div>


                <div class="8u 12u$(medium)">
                    <ul class="copyright">
                        <li>Pages: <a href=
                        "http://docs.getpelican.com/en/3.6.3/">PELICAN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="container">
            <p class="align-right">Deepthi Venkitaramanan</p>
        </div>
    </footer>
    <!-- 42 -->
</body>
</html>
